.svgContainer {
  /* position: relative; */
}

svg {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0px;
  left: 0px;
}

.debug {
  fill: yellow;
}

.normal {
  fill: grey
}

.shaded {

  fill: black
}

.controller {
  display: flex;
  flex-direction: column;
}

.controller button {
  margin-top: 10px;

}