.svgContainer {
  position: relative;
}

svg {
  position: absolute;
  height: 600px;
  width: 600px;
  top: 0px;
  left: -0px;
}

.controller {
  display: flex;
  flex-direction: column;
}

.controller button {
  margin-top: 10px;
}
